<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198454751482-64jbd9u8ovjj37717ctgjakhq9pdro0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198454751482-64jbd9u8ovjj37717ctgjakhq9pdro0r</string>
	<key>API_KEY</key>
	<string>AIzaSyBWaWlRWBknXyVJKZlBGYa5ZMmNzWqlPBc</string>
	<key>GCM_SENDER_ID</key>
	<string>198454751482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aaa.Habiibi</string>
	<key>PROJECT_ID</key>
	<string>dating-app-725b8</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-725b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198454751482:ios:118a0820a9ed8086349943</string>
</dict>
</plist>